audioread==3.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
decorator==5.2.1
expelliarmus==1.1.12
filelock==3.29.0
fsspec==2026.4.0
h5py==3.16.0
idna==3.13
importRosbag==1.0.4
Jinja2==3.1.6
joblib==1.5.3
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.41.1
MarkupSafe==3.0.3
mpmath==1.3.0
msgpack==1.1.2
networkx==3.4.2
numba==0.58.1
numpy==1.26.4
packaging==26.2
pbr==7.0.3
platformdirs==4.9.6
pooch==1.9.0
pycparser==3.0
requests==2.33.1
scikit-learn==1.7.2
scipy==1.15.3
soundfile==0.13.1
soxr==1.1.0
sympy==1.14.0
threadpoolctl==3.6.0
tonic==1.6.0
torch==2.2.2
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
